extends ../layouts/common
block content
    
    if errors
        each error in errors
            .alert.alert-danger= error
    .container
        .card.add-form
            .card-header
                h5 Đăng nhập
            .card-body
                form.login-form(method="POST")
                    div.login-form
                        label Email
                            input.form-control(type="text", name="email", value=values ? values.email : '')
                    div
                        label Mật khẩu
                            input.form-control(type="password", name="password", value=values ? values.password:'')
                    button.btn.btn-info Login