extends ../layouts/common
block content
    .main
        p.title Quản lý hóa đơn
        //- a(href="/bills/create") Thêm hóa đơn mới
        form(action="/bills/search", method="GET")
            input(type="text" name='q' placeholder="Ngày lập")
            button.btn.btn-info Tìm kiếm
        table.table.table-striped.table-bordered(style='width:100%')
                thead
                    tr
                        th Mã hóa đơn
                        th Ngày lập
                        th Mã khách hàng
                        th Các thao tác
                tbody
                    each bill in bills
                        tr
                            td= bill.id
                            td= bill.date
                            td= bill.user_id
                            td
                                a.btn.btn-success.mr-1(href="/bills/" + bill.id, role='button') Xem chi tiết
                                //- a.btn.btn-warning.mr-1(href="/bills/" + bill.id + "/edit", role='button') Sửa
                                //- a.btn.btn-danger.mr-1(href="/bills/" + bill.id + "/delete", role='button') Xóa
        .container(style="position: absolute; top: 90%")
            - var page = 1;
            ul.pagination(style="justify-content: center;")
                while page < pages
                    li.page-item
                        a.page-link(href='/bills?page='+ page)= page++