extends ../layouts/common
block content
    //- .container
    //-     .card.add-form
    //-         .card-header 
    //-             h5 Sửa thông tin tài khoản
    //-         .card-body
    //-             form.addProdForm(action="/accounts/" + account.id + "/edit", method="POST")
    //-                 div
    //-                     label Email
    //-                         input.form-control(type="text", name="name", value=account.email)
    //-                 div
    //-                     label Mật khẩu mới
    //-                         input.form-control(type="text", name="password")
    //-                 button.btn.btn-info Cập nhật
    //-         .card-footer 
    form.get_in_touch(action="/accounts/" + account.id + "/edit", method="POST")
        h1.title Sửa tài khoản
        .container
            .contact-form.row
                .form-field.col-lg-12
                    input#email.input-text(type='email', required='', name="email", value=account.email)
                    label.label(for='email') Email
                .form-field.col-lg-12
                    input#password.input-text(type='password', required='',name="password")
                    label.label(for='password') Mật khẩu mới
                .form-field.col-lg-12(style="text-align: center;")
                    input.submit-btn(type='submit', value='Cập nhật')