extends ../layouts/common
block content
    p.title Quản lý tài khoản
    .account-content
        a(href="/accounts/create") Tạo tài khoản mới
        form(action="/accounts/search", method="GET")
            input(type="text" name='q' placeholder="Tên tài khoản")
            button.btn.btn-info(type='submit') Tìm kiếm
        table.table.table-striped.table-bordered(style='width:100%')
            thead
                tr
                    th Mã khách hàng
                    th Email
                    th Mật khẩu
                    th Các thao tác
            tbody
                each acc in accounts
                    tr
                        td= acc.id.slice(0, 6) + '...'
                        td= acc.email
                        td= acc.password.slice(0, 15) + '...'
                        td
                            a.btn.btn-success.mr-1(href="/accounts/" + acc.id, role='button') Xem
                            a.btn.btn-warning.mr-1(href="/accounts/" + acc.id + "/edit", role='button') Sửa
                            a.btn.btn-danger.mr-1(href="/accounts/" + acc.id + "/delete", role='button') Xóa
                            a.btn.btn-danger.mr-1(href="/accounts/", role='button') Phân quyền