extends ../layouts/common
block content
    p.title Chi tiết tài khoản
    table.table(style="width: 80%; margin: 30px auto")
        thead
            tr
                th Thuộc tính
                th Giá trị
        tbody
            tr
                td ID
                td= category.id
            tr
                td Tên danh mục
                td= category.name
