.title {
    
    text-align: center;
    font-size: 30px;
}
.account-content, .main {
    width: 1200px;
    margin: 0 auto;
}
.account-content button , .btn.btn-info{
    margin-top: -5px;
}
.btn-info {
    padding: 4px;
    margin-left: 4px;
    font-size: 14px;
}
.add-form {
    width: 55%;
    margin: 10px auto;
}
.addProdForm input {
    width: 474px;
}
th, td{
    text-align: center;
}
.login-form label input {
    width: 458px;
    margin-bottom: 10px;
}


/* body {
	margin: 0;
	padding: 0;
	height: 100vh;
	overflow: hidden;
	background: linear-gradient(120deg, #0b0b21, #497882);
} */
.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	background: white;
	border-radius: 10px;
}
.center h1 {
	text-align: center;
	margin-top: 10px;
} 
.center form {
	padding: 0 40px;
	box-sizing: border-box;
}
form .text_field {
	position: relative;
	border-bottom: 2px solid #adadad;
	margin: 30px 0;
}
.text_field input {
	width: 100%;
	padding: 0 5px;
	height: 40px;
	font-size: 16px;
	border: none;
	background: none;
	outline: none;
}
.text_field label {
	position: absolute;
	top: 50%;
	left: 5px;
	color: #adadad;
	transform: translateY(-50%);
	font-size: 16px;
	pointer-events: none;
}
.text_field span::before {
	content: '';
	position: absolute;
	top: 40px;
	left: 0;
	width: 100%;
	height: 2px;
	background: #2691d9;
	transition: 0.5s;
}
.text_field input:focus ~ label,
.text_field input:valid ~ label{
	top: -5px;
	color: #2691d9;
}
.text_field input:focus ~ span::before,
.text_field input:valid ~ span::before{
	width: 100%;

}
.pass {
	margin: -5px 0 20px 5px;
	color: #a6a6a6;
	cursor: pointer;
}
.pass:hover {
	text-decoration: underline;
}
form input[type="submit"] {
	width: 100%;
	height: 50px;
	border: 1px solid;
	background: #2691d9;
	border-radius: 25px;
	font-size: 18px;
	color: #e9f4fb;
	font-weight: 700;
	cursor: pointer;
	outline: none;
}
input[type="submit"]:hover {
	border-color: #2691d9;
	transition: .5s;
}
.sign_up {
	margin: 30px 0;
	text-align: center;
	font-size: 16px;
	color: #666666;

}
.sign_up a{
	color: #2691d9;
	text-decoration: none;
}
.sign_up a:hover {
	text-decoration: underline;
}
.main_container {
    width: 100%;
    height: 100%;
    margin: 0;
	padding: 0;
	height: 100vh;
	overflow: hidden;
	background: linear-gradient(120deg,#d7eef2, #f2f2e6);
}
/* =============== ADD PRODUCT FORM =================*/
.get_in_touch {
	max-width: 800px;
	margin: 20px auto;
	position: relative;
	box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
	padding: 30px;
}
.get_in_touch .title {
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 3px;
	font-size: 2em;
	line-height: 48px;
	padding-bottom: 20px;
	color: #5543ca;
	background: linear-gradient(to right, #f4524d 0%, #5543ca 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.contact-form .form-field {
	position: relative;
	margin: 30px 0;
}

.contact-form .input-text {
	display: block;
	width: 100%;
	height: 36px;
	border-width: 0 0 2px 0;
	border-color: #5543ca;
	font-size: 18px;
	line-height: 26px;
	font-weight: 400;
}
.contact-form .input-text:focus {
	outline: none;
}
.contact-form .input-text:focus + .label,
 .contact-form .input-text:valid + .label{
	transform: translateY(-24px);
}


.contact-form .label {
	position: absolute;
	left: 20px;
	bottom: 11px;
	font-size: 18px;
	line-height: 26px;
	font-weight: 400;
	color: #5543ca;
	cursor: text;
	transition: transform 0.2s ease-in-out;
	text-transform: capitalize;
}
.contact-form .submit-btn {
	display: inline-block;
	background-image: linear-gradient(125deg, #a72879, #064497);
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 16px;
	padding: 8px 16px;
	border: none;
	cursor: pointer;
	width: 30%;
}

.select-box label {
	font-size: 18px;
	line-height: 26px;
	font-weight: 400;
	color: #5543ca;
	cursor: text;
}
#cate_id  {
	border: 1px solid #5543ca;
}
