extends ../layouts/common
block content
    
    .container
        .card.add-form
            .card-header 
                h5 Thêm sản phẩm mới
            .card-body
                form.addProdForm(action="/products/create", method="POST")
                    div
                        label Tên sản phẩm
                            input.form-control(type="text", name="name")
                    div
                        label Ảnh  
                            input(type="file", name="imgUrl")
                    div
                        label Mô tả
                            input.form-control(type="text", name="description")
                    div
                        label Giá
                            input.form-control(type="text", name="price")
                    div
                        label Số lượng
                            input.form-control(type="text", name="quantity")
                    div.mb-2    
                        label.mr-2(for='cate_id') Chọn danh mục:  
                        select#cars(name='cate_id')
                            each cate in categories
                                option(value= cate.cate_id)= cate.name
                    button.btn.btn-info Thêm
            .card-footer 